@page
@model CarsForSaleModel
@{
    ViewData["Title"] = "Cars for sale";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>@ViewData["Title"]</h2>
            <h3><i class="far fa-calendar-check"></i> @Model.Message</h3>

            <iframe src="https://www.mainlineuksales.co.uk/used-cars" class="iframe" allowfullscreen></iframe>
        </div>
    </div>
</div>