@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h3>Contact Details</h3>
            <address>
                Metrocentre Autoworld<br />
                Wellington Road<br />
                Dunston<br />
                Tyne And Wear<br />
                NE11 9HU
            </address>

            <address>
                <a class="btn btn-light" href="tel:0191%204605070">
                    <strong>📞 0191 4605070</strong>
                </a>
                <br /><br />
                <a class="btn btn-light" href="mailto:sales@mainlineuk.com?Query%20from%20Website">
                    <strong>📧 sales@mainlineuk.com</strong>
                </a>
            </address>
            <br />

            <h3>Opening Times</h3>
            <div class="row">
                <div class="col">
                    Monday
                </div>
                <div class="col">
                    9am–5:30pm
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Tuesday
                </div>
                <div class="col">
                    9am–5:30pm
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Wednesday
                </div>
                <div class="col">
                    9am–5:30pm
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Thursday
                </div>
                <div class="col">
                    9am–5:30pm
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Friday
                </div>
                <div class="col">
                    9am–5:30pm
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Saturday
                </div>
                <div class="col">
                    9am–5:30pm
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Sunday
                </div>
                <div class="col">
                    11am–4pm
                </div>
            </div>
        </div>

        <div class="col-md">
            <h3>Map</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4582.050794820162!2d-1.6556013!3d54.9551151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf625553c4b88a81c!2sMainlineUK!5e0!3m2!1sen!2suk!4v1522189931122" class="iframeMap" allowfullscreen></iframe>
        </div>
    </div>
</div>