@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1456475744597358&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<br />
<div class="container">
    <div id="CarouselHomePage" class="carousel slide lazy" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#CarouselHomePage" data-slide-to="0" class="active"></li>
            <li data-target="#CarouselHomePage" data-slide-to="1"></li>
            <li data-target="#CarouselHomePage" data-slide-to="2"></li>
            <li data-target="#CarouselHomePage" data-slide-to="3"></li>
            <li data-target="#CarouselHomePage" data-slide-to="4"></li>
            <li data-target="#CarouselHomePage" data-slide-to="5"></li>
            <li data-target="#CarouselHomePage" data-slide-to="6"></li>
            <li data-target="#CarouselHomePage" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/banner/Almost100CarsinStock.jpg" alt="Almost 100 cars in stock" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">
                    <a class="btn btn-light" href="mailto:sales@mainlineuk.com?Query%20from%20Website">
                        📧 Email us at sales@mainlineuk.com
                    </a>
                    <a class="btn btn-light" href="tel:0191%204605070">
                        📞 Phone us on 0191 4605070
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/images/banner/Forecourt1.jpg" alt="Image of the Showroom Forecourt" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        We have a wide range of used vehicles for sale.
                    </h5>
                    <a class="btn btn-light" href="https://www.mainlineuksales.co.uk/used-cars" target="_blank" rel="noopener">
                        🚗 View the range and book a test drive
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/images/banner/OurCustomersDriveAwayHappy.jpg" alt="95% of our customers drive away happy" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">
                    <a class="btn btn-light" href="https://www.autotrader.co.uk/services/car-dealers/uk/north-east/tyne-and-wear/gateshead/mainline-uk-gateshead-dpp-27856/reviews/true" target="_blank" rel="noopener">
                        💬 See what people are saying
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/images/banner/Forecourt2.jpg" alt="If your credit rating is low we can still help" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        Come and visit us to view our wide range of vehicles
                    </h5>
                    <a class="btn btn-light" href="https://www.google.co.uk/maps/place/MainlineUK/@@54.9551151,-1.6556013,16z/data=!4m8!1m2!2m1!1smetrocentre+autoworld!3m4!1s0x0:0xf625553c4b88a81c!8m2!3d54.9563579!4d-1.6565296?hl=en" target="_blank" rel="noopener">
                        📍 View the map and get directions
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/images/banner/FinanceTailoredToSuitYou.jpg" alt="Finance Tailored to Suit You" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/images/banner/Forecourt3.jpg" alt="Metro Centre Auto World logo" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        We are just off the A1 (Dunston turnoff) close to the Metro Centre on Wellington Road (NE11 9HU)
                    </h5>
                    <a class="btn btn-light" href="https://www.google.co.uk/maps/place/MainlineUK/@@54.9551151,-1.6556013,16z/data=!4m8!1m2!2m1!1smetrocentre+autoworld!3m4!1s0x0:0xf625553c4b88a81c!8m2!3d54.9563579!4d-1.6565296?hl=en" target="_blank" rel="noopener">
                        📍 View the map and get directions
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/images/banner/IfYourCreditRatingIsHereWeCanStillHelp.jpg" alt="If your credit rating is low we can still help" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/images/banner/MetroCentreAutoWorld.jpg" alt="Metro Centre Auto World logo" class="img-fluid" />
                <div class="carousel-caption d-none d-md-block">
                    <a class="btn btn-light" href="mailto:sales@mainlineuk.com?Query%20from%20Website">
                        📧 sales@mainlineuk.com
                    </a>
                    <a class="btn btn-light" href="tel:0191%204605070">
                        📞 0191 4605070
                    </a>
                    <a class="btn btn-light" href="https://www.google.co.uk/maps/place/MainlineUK/@@54.9551151,-1.6556013,16z/data=!4m8!1m2!2m1!1smetrocentre+autoworld!3m4!1s0x0:0xf625553c4b88a81c!8m2!3d54.9563579!4d-1.6565296?hl=en" target="_blank" rel="noopener">
                        📍 A1 close to the Metro Centre
                    </a>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#CarouselHomePage" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#CarouselHomePage" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <h2>Used car sales</h2>
            <ul>
                <li>We have a range of different vehicles for sale</li>
                <li>View our <a href="https://www.mainlineuksales.co.uk/used-cars" target="_blank" rel="noopener">full range of vehicles</a></li>
            </ul>
            <h2>Sell your vehicle</h2>
            <ul>
                <li>Want to sell your vehicle instead? Phone us on <a href="tel:0191%204605070">0191 4605070</a> to discuss</li>
                <li>We offer cash for your used vehicle</li>
            </ul>
        </div>
        <div class="col-lg">
            <h2>Test drives</h2>
            <ul>
                <li>Want to try out a vehicle before you buy? No problem, come and visit us at our <a href="https://www.google.co.uk/maps/place/MainlineUK/@@54.9551151,-1.6556013,16z/data=!4m8!1m2!2m1!1smetrocentre+autoworld!3m4!1s0x0:0xf625553c4b88a81c!8m2!3d54.9563579!4d-1.6565296?hl=en" target="_blank" rel="noopener">Wellington Road showroom</a></li>
            </ul>
            <h2>Advice</h2>
            <ul>
                <li>Not sure what you need?</li>
                <li>Please come and visit us and browse the extensive range of vehicles on offer</li>
                <li>We are on hand to answer questions and demonstrate the various features of the vehicles available</li>
            </ul>
        </div>
        <div class="col-md text-center">
            <br />
            <div class="fb-page" data-href="https://www.facebook.com/mainlinecarsales/" data-tabs="timeline" data-small-header="false"
                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/mainlinecarsales/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/mainlinecarsales/" target="_blank" rel="noopener">Mainline Car Sales</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>